<div class="card">
  <form
    novalidate
    class="card"
    form
    #aceptaForm="ngForm"
    [formGroup]="aceptacionForm"
    role="form"
  >
    <div class="card">
      <h3 class="card-title" style="margin: 10px; text-align: center">
        ACEPTACIÓN
      </h3>

      <div class="card-body">
        <div class="row">
          <div class="col" style="text-align: justify">
            {{ declaracion }}
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="checkbox" style="text-align: center">
              <label
                ><input
                  formControlName="aceptacion"
                  type="checkbox"
                  style="margin-right: 10px"
                /><strong
                  >He leído los terminos y acepto las condiciones</strong
                ></label
              >
              <ng-container
                *ngIf="
                  !aceptacionForm.get('aceptacion').value &&
                  aceptaForm.submitted
                "
              >
                <p class="alert alert-danger alert-dismissible">
                  Este campo es requerido
                </p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <h3 class="card-title" style="margin: 10px; text-align: center">
          AUTORIZACIÓN
        </h3>
        <div class="card-body">
          <div class="row">
            <div class="col" style="text-align: justify">
              {{ autorizacion }}
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="checkbox" style="text-align: center">
                <label>
                  <input
                    formControlName="autorizacion"
                    type="checkbox"
                    style="margin-right: 10px"
                  /><strong
                    >He leído los terminos y acepto las condiciones</strong
                  ></label
                >
                <ng-container
                  *ngIf="
                    !aceptacionForm.get('autorizacion').value &&
                    aceptaForm.submitted
                  "
                >
                  <p class="alert alert-danger alert-dismissible">
                    Este campo es requerido
                  </p>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body" style="text-align: center">
          <div class="row">
            <div class="col" style="margin-bottom: 8px">
              Descargue documento para firmar:
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button
                (click)="download_pdf()"
                style="
                  color: #fec524;
                  background: #8b2131;
                  border-color: black;
                  width: 140px !important;
                "
                class="btn"
              >
                <i class="fa fa-sign-in"></i> Descargue
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body" style="text-align: center">
          <div class="row">
            <div class="col">
              <div class="border">
                {{ documento.name }}
                <angular-file-uploader
                  [numberFileUpload]="documento.numero"
                  [allowedFiles]="documento.lstDocumentoPerfilDocumental"
                  [resetUpload]="resetUpload"
                  [config]="setIdAfuConfig(documento.id)"
                  (ApiResponse)="docUpload($event)"
                >
                </angular-file-uploader>
                <ng-container *ngIf="aceptaForm.submitted">
                  <p
                    *ngIf="
                      documento.lstDocumentoPerfilDocumental.length <
                        documento.numero && documento.numero == 1
                    "
                    class="alert alert-danger alert-dismissible"
                  >
                    Es un documento requerido
                  </p>
                  <p
                    *ngIf="documento.numero > 1"
                    class="alert alert-danger alert-dismissible"
                  >
                    Son {{ documento.numero }} documentos requeridos
                  </p>
                </ng-container>
              </div>
            </div>
            <br />
            <br />
          </div>
        </div>
      </div>

      <div style="text-align: center; margin-bottom: 10px" class="row mt-3">
        <!-- Button -->
        <div class="col">
          <button
            style="color: #fec524; background: #8b2131; border-color: black"
            class="btn"
          >
            <i class="fa fa-sign-in"></i> Atrás
          </button>
        </div>
        <div class="col">
          <button
            style="color: #fec524; background: #8b2131; border-color: black"
            class="btn"
            type="submit"
            (click)="
              aceptacionForm.valid ? finalizar(aceptacionForm.value) : ''
            "
          >
            <i class="fa fa-sign-in"></i> Finalizar
          </button>
        </div>
      </div>
    </div>
  </form>

  <!-- <pre>valid {{ aceptacionForm.valid }}</pre> -->

  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>
</div>
