<div class="card">
  <form>
    <div class="card">
      <h5 class="card-title" style="margin: 10px; text-align: center">
        ACEPTACIÓN
      </h5>
      <div class="card-body">
        <div class="row">
          <div class="col" style="text-align: justify">
            Declaro que toda la información y documentación proporcionada a la
            Cooperativa 29 de Octubre Ltda., es verídica y está sujeta a
            verificación y comprobación, cuando así lo requiera para los fines
            internos y de acuerdo a las normativas externas establecidas, por lo
            que en caso de detectarse errores, omisiones o alteraciones, el
            proveedor está sujeto a que la Cooperativa tome las acciones
            pertinentes y sea causal suficiente para no ser considerado en la
            base de proveedores que puedan prestar servicios o entregar bienes a
            la Cooperativa, así también, en caso de requerir por parte de la
            institución un Plan de Contingencia, éste deberá contener de forma
            clara y detallada: cómo se garantizará la continuidad del servicio,
            de qué manera se va actuar en caso de una contigencia y cuáles serán
            los tiempos de respuesta para solventar el inconveniente.
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="checkbox" style="text-align: center">
              <label
                ><input type="checkbox" style="margin-right: 10px" /><strong
                  >He leido los terminos y acepto las condiciones</strong
                ></label
              >
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <h5 class="card-title" style="margin: 10px; text-align: center">
          AUTORIZACIÓN
        </h5>
        <div class="card-body">
          <div class="row">
            <div class="col" style="text-align: justify">
              Autorizo a la Cooperativa de Ahorro y Crédito 29 de Octubre Ltda.,
              a través del proceso de calificación de proveedores, para que se
              revise y analice el buró crediticio de mi respectivo giro de
              negocio, el cual estoy conciente de que servirá para medir mi
              situación económica y financiera.
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="checkbox" style="text-align: center">
                <label>
                  <input type="checkbox" style="margin-right: 10px" /><strong
                    >He leido los terminos y acepto las condiciones</strong
                  ></label
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body" style="text-align: center">
          <div class="row">
            <div class="col">Descargue documento para firmar:</div>
          </div>
          <div class="row">
            <div class="col">
              <button
                (click)="download_pdf()"
                style="
                  color: #fec524;
                  background: #8b2131;
                  border-color: black;
                  width: 140px !important;
                "
                class="btn btn-info"
              >
                <i class="fa fa-sign-in"></i> Descargue
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body" style="text-align: center">
          <div class="row">
            <div class="col">Subir documento firmado:</div>
          </div>
          <div class="row">
            <div class="col">
              <angular-file-uploader
                [resetUpload]="resetUpload"
                [config]="afuConfig"
                (ApiResponse)="docUpload($event)"
              >
              </angular-file-uploader>
            </div>
            <br />
            <br />
          </div>
        </div>
      </div>

      <div style="text-align: center; margin-bottom: 10px" class="row mt-3">
        <!-- Button -->
        <div class="col">
          <button
            style="color: #fec524; background: #8b2131; border-color: black"
            class="btn btn-info"
            type="submit"
          >
            <i class="fa fa-sign-in"></i> Atras
          </button>
        </div>
        <div class="col">
          <button
            style="color: #fec524; background: #8b2131; border-color: black"
            class="btn btn-info"
            type="submit"
          >
            <i class="fa fa-sign-in"></i> Finalizar
          </button>
        </div>
      </div>
    </div>
  </form>

  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>
</div>
