<div class="card">
  <h5 class="card-title" style="margin: 10px;">
    PERFIL FINANCIERO
  </h5>

  <form>
    <div class="card">
      <div class="card-body">
        <h4>PERSONA NATURAL</h4>
        <p style="font-size: 13px;">
          Ingrese los valores correspondientes a los años 2018 y 2019
        </p>
        <div class="row">
          <table class="table">
            <tr>
              <th>Cuenta</th>
              <th>Resultado</th>
              <th>Resultado</th>
            </tr>
            <tr>
              <td>Ingresos</td>
              <td><input type="text" placeholder="ingreso 2018" /></td>
              <td><input type="text" placeholder="ingreso 2019" /></td>
            </tr>
            <tr>
              <td>Gastos</td>
              <td><input type="text" placeholder="gastos 2018" /></td>
              <td><input type="text" placeholder="gastos 2019" /></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4>PERSONA JURIDICA</h4>
        <p style="font-size: 13px;">
          Ingrese los valores correspondientes a los años 2018 y 2019
        </p>
        <div class="row">
          <table class="table">
            <tr>
              <th>Cuenta</th>
              <th>Resultado</th>
              <th>Resultado</th>
            </tr>
            <tr>
              <td>Pasivo</td>
              <td><input type="text" placeholder="Pasivo 2018" /></td>
              <td><input type="text" placeholder="Pasivo 2019" /></td>
            </tr>
            <tr>
              <td>Patrimonio</td>
              <td><input type="text" placeholder="Patrimonio 2019" /></td>
              <td><input type="text" placeholder="Patrimonio 2019" /></td>
            </tr>
            <tr>
              <td>Activo</td>
              <td><input type="text" placeholder="Activo 2019" /></td>
              <td><input type="text" placeholder="Activo 2019" /></td>
            </tr>
            <tr>
              <td>Activo Corriente</td>
              <td><input type="text" placeholder="Activo Corriente 2019" /></td>
              <td><input type="text" placeholder="Activo Corriente 2019" /></td>
            </tr>
            <tr>
              <td>Pasivo Corriente</td>
              <td><input type="text" placeholder="Pasivo Corriente 2019" /></td>
              <td><input type="text" placeholder="Pasivo Corriente 2019" /></td>
            </tr>
            <tr>
              <td>Utilidad Neta</td>
              <td><input type="text" placeholder="Utilidad Neta 2019" /></td>
              <td><input type="text" placeholder="Utilidad Neta 2019" /></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
