<div class="card">
  <h3 class="card-title" style="margin: 10px; text-align: center">
    PERFIL FINANCIERO
  </h3>

  <form novalidate class="card" form #finanForm="ngForm" role="form">
    <div class="card">
      <div class="card-body">
        <h4>PERSONA {{ tipoPersona }}</h4>
        <p style="font-size: 13px">
          Ingrese los valores correspondientes al año {{ currentYear }}
        </p>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

          <!-- cuenta Column -->
          <ng-container matColumnDef="cuenta">
            <th mat-header-cell *matHeaderCellDef>Cuenta</th>
            <td mat-cell *matCellDef="let element">{{ element.cuenta }}</td>
          </ng-container>

          <!-- resultadoPenultimo Column -->
          <ng-container matColumnDef="resultado">
            <!--   <th mat-header-cell *matHeaderCellDef>
              Resultado {{ currentYear - 1 }}
            </th> -->
            <td mat-cell *matCellDef="let element">
              {{ element.resultadoPenultimo }}
              <ng-container
                *ngIf="element.resultadoPenultimo == 0 && finanForm.submitted"
              >
                <p class="alert alert-danger alert-dismissible">
                  Este campo es requerido
                </p>
              </ng-container>
            </td>
          </ng-container>

          <!-- resultadoUltimo Column -->
          <ng-container matColumnDef="resultado2">
            <th mat-header-cell *matHeaderCellDef>
              Resultado {{ currentYear }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.resultadoUltimo }}
              <ng-container
                *ngIf="element.resultadoUltimo == 0 && finanForm.submitted"
              >
                <p class="alert alert-danger alert-dismissible">
                  Este campo es requerido
                </p>
              </ng-container>
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th
              class="espaciado-central"
              mat-header-cell
              *matHeaderCellDef
              style="width: 30%; text-align: center; font-weight: bold"
            >
              Acción
            </th>
            <td
              class="espaciado-central"
              mat-cell
              *matCellDef="let element"
              class="action-link"
              style="
                color: royalblue;

                width: 30%;
                text-align: center;
              "
            >
              <a class="puntero" (click)="openDialog('Actualizar', element)">
                <mat-icon
                  class="puntero"
                  style="position: relative; top: 5px; color: royalblue"
                  >create</mat-icon
                >Editar
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>

    <div style="text-align: center; margin-bottom: 10px" class="row mt-3">
      <!-- Button -->
      <div class="col">
        <button
          class="btn"
          style="color: #fec524; background: #8b2131; border-color: black"
          (click)="retrocederForm()"
        >
          <i class="fa fa-sign-in"></i> Atrás
        </button>
      </div>
      <div class="col">
        <button
          class="btn"
          style="color: #fec524; background: #8b2131; border-color: black"
          (click)="siguienteForm()"
        >
          <i class="fa fa-sign-in"></i> Siguiente
        </button>
      </div>
    </div>
  </form>

  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>
</div>
