<div class="card">
  <h3 class="card-title" style="margin: 10px; text-align: center">
    INFORMACIÓN DE CONTACTO
  </h3>
  <form
    novalidate
    class="card"
    form
    #infoForm="ngForm"
    [formGroup]="infocontactoForm"
    role="form"
  >
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
          <div class="form-group">
            <label for="direccion">Dirección: </label>
            <input
              formControlName="direccion"
              type="text"
              class="form-control"
              placeholder="Dirección"
              id="direccion"
            />
            <ng-container
              *ngIf="
                !infocontactoForm.get('direccion').valid && infoForm.submitted
              "
            >
              <p class="alert alert-danger alert-dismissible">
                Este campo es requerido
              </p>
            </ng-container>
          </div>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="pais">Pais: </label>
            <select
              (change)="capturaPais()"
              [(ngModel)]="paisSeleccionado"
              id="pais"
              style="margin-left: 0%"
              formControlName="pais"
              class="form-control"
            >
              <option [ngValue]="null" disabled>Escoger pais</option>
              <option *ngFor="let pais of paises" [ngValue]="pais">
                {{ pais.name }}
              </option>
            </select>
            <ng-container
              *ngIf="!infocontactoForm.get('pais').valid && infoForm.submitted"
            >
              <p class="alert alert-danger alert-dismissible">
                Este campo es requerido
              </p>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="form-group">
            <label for="provincia">Provincia: </label>
            <select
              (change)="capturaProvincia()"
              [(ngModel)]="provinciaSeleccionado"
              id="provincia"
              style="margin-left: 0%"
              formControlName="provincia"
              class="form-control"
            >
              <option [ngValue]="null" disabled>Escoger provincia</option>
              <option
                *ngFor="let provincia of provincias"
                [ngValue]="provincia"
              >
                {{ provincia.name }}
              </option>
            </select>
            <ng-container
              *ngIf="
                !infocontactoForm.get('provincia').valid && infoForm.submitted
              "
            >
              <p class="alert alert-danger alert-dismissible">
                Este campo es requerido
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="form-group">
            <label for="canton">Cantón: </label>
            <select
              (change)="capturaCanton()"
              [(ngModel)]="cantonSeleccionado"
              style="margin-left: 0%"
              formControlName="canton"
              class="form-control"
            >
              <option [ngValue]="null" disabled>Escoger cantón</option>
              <option *ngFor="let canton of cantones" [ngValue]="canton">
                {{ canton.name }}
              </option>
            </select>
            <ng-container
              *ngIf="
                !infocontactoForm.get('canton').valid && infoForm.submitted
              "
            >
              <p class="alert alert-danger alert-dismissible">
                Este campo es requerido
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="form-group">
            <label for="parroquia">Parroquia: </label>
            <select
              [(ngModel)]="parroquiaSeleccionado"
              #parroquia
              id="parroquia"
              style="margin-left: 0%"
              formControlName="parroquia"
              class="form-control"
            >
              <option [ngValue]="null" disabled>Escoger parroquia</option>
              <option
                *ngFor="let parroquia of parroquias"
                [ngValue]="parroquia"
              >
                {{ parroquia.name }}
              </option>
            </select>
            <ng-container
              *ngIf="
                !infocontactoForm.get('parroquia').valid && infoForm.submitted
              "
            >
              <p class="alert alert-danger alert-dismissible">
                Este campo es requerido
              </p>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="form-group">
            <label for="celular">Celular: </label>
            <input
              style="text-align: right"
              appOnlyNumbers="true"
              formControlName="celular"
              type="phoneNumber"
              class="form-control"
              placeholder="Celular"
              id="celular"
              maxlength="{{ 10 }}"
              min="0"
            />
            <ng-container
              *ngIf="
                !infocontactoForm.get('celular').valid && infoForm.submitted
              "
            >
              <p
                *ngIf="infocontactoForm.get('celular').hasError('required')"
                class="alert alert-danger alert-dismissible"
              >
                Este campo es requerido
              </p>
              <p
                *ngIf="infocontactoForm.get('celular').hasError('pattern')"
                class="alert alert-danger alert-dismissible"
              >
                Ingrese solo números
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="form-group">
            <label for="telefono">Teléfono: </label>
            <input
              appOnlyNumbers="true"
              formControlName="telefono"
              type="phoneNumber"
              class="form-control"
              placeholder="Teléfono"
              id="telefono"
              maxlength="{{ 10 }}"
              min="0"
            />
            <ng-container
              *ngIf="
                !infocontactoForm.get('telefono').valid && infoForm.submitted
              "
            >
              <p class="alert alert-danger alert-dismissible">
                Este campo es requerido
              </p>
              <p
                *ngIf="infocontactoForm.get('telefono').hasError('pattern')"
                class="alert alert-danger alert-dismissible"
              >
                Ingrese solo números
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="form-group">
            <label for="mailproveedor">Correo proveedor: </label>
            <input
              formControlName="mailproveedor"
              type="text"
              class="form-control"
              placeholder="Correo proveedor"
              id="mailproveedor"
            />
            <ng-container
              *ngIf="
                !infocontactoForm.get('mailproveedor').valid &&
                infoForm.submitted
              "
            >
              <p class="alert alert-danger alert-dismissible">
                ingrese un correo válido
              </p>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
          <div class="form-group">
            <label for="contactocomercial">Contacto comercial: </label>
            <input
              formControlName="contactocomercial"
              type="text"
              class="form-control"
              placeholder="Contacto comercial"
              id="contactocomercial"
            />
            <ng-container
              *ngIf="
                !infocontactoForm.get('contactocomercial').valid &&
                infoForm.submitted
              "
            >
              <p class="alert alert-danger alert-dismissible">
                Este campo es requerido
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="form-group">
            <label for="telefonocontactocomercial">Teléfono comercial: </label>
            <input
              appOnlyNumbers="true"
              formControlName="telefonocontactocomercial"
              type="text"
              class="form-control"
              placeholder="Teléfono comercial"
              id="telefonocontactocomercial"
            />
            <ng-container
              *ngIf="
                !infocontactoForm.get('telefonocontactocomercial').valid &&
                infoForm.submitted
              "
            >
              <p class="alert alert-danger alert-dismissible">
                Este campo es requerido
              </p>
              <p
                *ngIf="
                  infocontactoForm
                    .get('telefonocontactocomercial')
                    .hasError('pattern')
                "
                class="alert alert-danger alert-dismissible"
              >
                Ingrese solo números
              </p>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="celular1">Celular 1: </label>
            <input
              appOnlyNumbers="true"
              formControlName="celular1"
              type="text"
              class="form-control"
              placeholder="Celular 1"
              id="celular1"
            />
            <ng-container
              *ngIf="
                !infocontactoForm.get('celular1').valid && infoForm.submitted
              "
            >
              <p class="alert alert-danger alert-dismissible">
                Este campo es requerido
              </p>
              <p
                *ngIf="infocontactoForm.get('celular1').hasError('pattern')"
                class="alert alert-danger alert-dismissible"
              >
                Ingrese solo números
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="mail1">Correo 1: </label>
            <input
              formControlName="mail1"
              type="text"
              class="form-control"
              placeholder="Correo 1"
              id="mail1"
            />
            <ng-container
              *ngIf="!infocontactoForm.get('mail1').valid && infoForm.submitted"
            >
              <p class="alert alert-danger alert-dismissible">
                ingrese un correo válido
              </p>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="celular2">Celular 2: </label>
            <input
              appOnlyNumbers="true"
              formControlName="celular2"
              type="text"
              class="form-control"
              placeholder="Celular 2"
              id="celular2"
            />
            <ng-container
              *ngIf="
                !infocontactoForm.get('celular2').valid && infoForm.submitted
              "
            >
              <p class="alert alert-danger alert-dismissible">
                Este campo es requerido
              </p>
              <p
                *ngIf="infocontactoForm.get('celular2').hasError('pattern')"
                class="alert alert-danger alert-dismissible"
              >
                Ingrese solo números
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="mail2">Correo 2: </label>
            <input
              formControlName="mail2"
              type="text"
              class="form-control"
              placeholder="Correo 2"
              id="mail2"
            />
            <ng-container
              *ngIf="!infocontactoForm.get('mail2').valid && infoForm.submitted"
            >
              <p class="alert alert-danger alert-dismissible">
                ingrese un correo válido
              </p>
            </ng-container>
          </div>
        </div>
      </div>

      <div style="text-align: center; margin-bottom: 10px" class="row mt-3">
        <!-- Button -->
        <div class="col">
          <button
            style="color: #fec524; background: #8b2131; border-color: black"
            (click)="retrocederForm()"
            class="btn"
            type="submit"
          >
            <i class="fa fa-sign-in"></i>Atrás
          </button>
        </div>
        <div class="col">
          <button
            (click)="
              infoForm.valid
                ? sendForm(infocontactoForm.value, infocontactoForm.valid)
                : ''
            "
            style="color: #fec524; background: #8b2131; border-color: black"
            class="btn button-guardar"
            type="submit"
          >
            <i class="fa fa-sign-in"></i>Continuar
          </button>
        </div>
      </div>
    </div>
  </form>
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>
</div>
