<div class="container">
  <div class="row">
    <div class="col mt-3">
      <form
        [formGroup]="changePassForm"
        role="form"
        novalidate
        (ngSubmit)="changePass(changePassForm.value, changePassForm.valid)"
      >
        <div class="form-group">
          <label for="inputPass1">Clave actual</label>
          <input
            formControlName="pass0"
            type="password"
            class="form-control"
            id="inputPass0"
            placeholder="Clave actual"
            (blur)="validatePass()"
          />
          <div
            *ngIf="errorPass0"
            class="alert alert-danger alert-dismissible"
            role="alert"
          >
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            Clave incorrecta
          </div>
        </div>
        <div class="form-group">
          <label for="inputPass1">Nueva clave</label>
          <input
            formControlName="pass1"
            type="password"
            class="form-control"
            id="inputPass1"
            placeholder="Nueva clave"
          />
        </div>
        <div class="form-group">
          <label for="inputPass2">Confirmar nueva clave</label>
          <input
            formControlName="pass2"
            type="password"
            class="form-control"
            id="inputPass2"
            placeholder="Confirmar nueva clave"
          />
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div
              *ngIf="alerts.msg"
              class="alert alert-success alert-dismissible"
              role="alert"
            >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              {{ alerts.msg }}
            </div>
            <div
              *ngIf="alerts.error"
              class="alert alert-danger alert-dismissible"
              role="alert"
            >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              {{ alerts.error }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 offset-md-3">
            <button class="btn btn-success" type="submit">
              <i class="fa fa-floppy-o"></i> Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-spinner-block></app-spinner-block>
