<div class="card">
  <h3 class="card-title" style="margin: 10px;">
    Guia para llenar el formulario
  </h3>
  <div style="margin-left: 4%;">
      <div class="row mt-3" style="display: inherit;">
      <div class="circulo">1</div>
      <strong> Identificacion</strong>
      <br />
      <p>
        Esta seccion ud llena la informacion de identificacion de la empresa a
        la que representa
      </p>
    </div>
      <div class="row mt-3" style="display: inherit;">
      <div class="circulo">2</div>
      <strong> Informacion de contacto</strong>
      <br />
      <p>
        Aqui ud ingresa su informacion a la que podemos contactarle
      </p>
    </div>
      <div class="row mt-3" style="display: inherit;">
      <div class="circulo">3</div>
      <strong>Empresarial</strong>
      <br />
      <p>
        Aqui va su informacion Empresarial
      </p>
    </div>
      <div class="row mt-3" style="display: inherit;">
      <div class="circulo">4</div>
      <strong>Financiero</strong>
      <br />
      <p>
        Aqui registra los ingresos y gastos de los 2 ultimos años
      </p>
    </div>
      <div class="row mt-3" style="display: inherit;">
      <div class="circulo">5</div>
      <strong>Operativo</strong>
      <br />
      Registra su informacion operativa
    </div>
    <div class="row mt-3" style="display: inherit;">
      <div class="circulo">6</div>
      <strong>Comercial</strong>
      <br />

      Registra su informacion Comercial
    </div>
    <div class="row mt-3" style="display: inherit;">
      <div class="circulo">7</div>
      <strong>Documental</strong>
      <br />
      Su la informacion de los documentos requeridos
    </div>
  </div>
</div>
